$(document).ready(
    function() {

        $('[data-toggle="tooltip"]').tooltip()

        $('.rbins-lateral-tabs li').on(
                'click',
                function (event) {
                    if (!$(this).hasClass('active')) {
                        event.preventDefault();
                        var target = $(this).data('target');
                        $(target).addClass('in').fadeIn();
                        $('.rbins-tab-content').not(target).removeClass('in');
                        $('.rbins-lateral-tabs li, .rbins-lateral-tabs li a').removeClass('active');
                        $(this).addClass('active');
                    }

                    return true;

                }
        );

{#
        $('.toggle_view_edit_container a').on(
                'click',
                function(event) {
                    event.preventDefault();
                    $(this).toggle(
                            'fade',
                            200,
                            function(){
                                $(this).next().toggle(
                                        'fade',
                                        300,
                                        function() {
                                            if ($(this).is(':visible')) {
                                                $(this).css('display', 'inline-block');
                                            }
                                        }
                                );
                                $(this).prev().toggle(
                                        'fade',
                                        300,
                                        function() {
                                            if ($(this).is(':visible')) {
                                                $(this).css('display', 'inline-block');
                                            }
                                        }
                                );
                            }
                    );
                }
        );
#}

        $('.rbins-related-content').on(
                'click',
                '.rbins-remove-related',
                function(event) {
                    event.preventDefault();
                    if ( !confirm("{{ 'app.message.related.removeConfirmation'|trans({}, 'messages') }}")) {
                        return false;
                    }

                    var target = $(this);
                    var target_parent_related_content = $(this).parents('.rbins-related-content');
                    var target_class = $(this).data('target-class');

                    $.ajax(
                            {
                                url: $(this).attr('href'),
                                type: 'POST',
                                data: {

                                },
                                success: function() {
                                    target_parent_related_content.find('.alert').fadeOut();
                                    target_parent_related_content.find('.flash-success-text').html("{{ 'app.message.remove.success'|trans({}, 'messages', app.request.getLocale()) }}").parent('.flash-success').fadeIn();
                                    target.parents('.rbins-tab-content').find('.rbins-search-content .rbins-search-input').trigger('change');
                                    target_parent_related_content.find('dd.'+target_class).fadeOut().remove();
                                },
                                error: function(jqXHR) {
                                    target_parent_related_content.find('.alert').fadeOut();
                                    if ( jqXHR.status == '404' ) {
                                        target_parent_related_content.find('.flash-warning-text').html("{{ 'app.message.remove.failure.404'|trans({}, 'messages', app.request.getLocale()) }}").parent('.flash-warning').fadeIn();
                                        target.parents('.rbins-tab-content').find('.rbins-search-content .rbins-search-input').trigger('change');
                                        target_parent_related_content.find('dd.'+target_class).fadeOut().remove();
                                    }
                                    else if ( jqXHR.status == '419' ) {
                                        target_parent_related_content.find('.flash-warning-text').html('An error occured: '+jqXHR.responseText).parent('.flash-warning').fadeIn();
                                    }
                                    else {
                                        target_parent_related_content.find('.flash-error-text').html('An error occured: '+jqXHR.responseText).parent('.flash-error').fadeIn();
                                    }
                                }
                            }
                    ).done(
                            function() {
                                if ( target_parent_related_content.find('dd').length == 0 ) {
                                    target_parent_related_content.find('dl').remove();
                                    target_parent_related_content.append('<p class='+'"no-related-content-message"'+">{% trans from 'messages' into app.request.getLocale() %}app.message.noRelatedItems{% endtrans %}</p>");
                                }
                            }
                    );

                    return false;
                }
        );

        $('.rbins-remove-btn').on(
                'click',
                function(event) {
                    event.preventDefault();
                    if ( !confirm("{{ 'app.message.main.removeConfirmation'|trans({}, 'messages', app.request.getLocale()) }}")) {
                        return false;
                    }

                    $.ajax(
                            {
                                url: $(this).attr('href'),
                                type: 'POST',
                                data: {

                                },
                                success: function(data){
                                    window.location.href = Routing.generate(
                                            data.route,
                                            {
                                                _locale: "{{ app.request.getLocale() }}"
                                            });
                                },
                                error: function(jqXHR){
                                    var routeName = '';
                                    if ( jqXHR.status == '404' ) {
                                        routeName = 'app_homepage';
                                    }
                                    else if ( jqXHR.status == '419' ) {
                                        alert('An error occured: '+jqXHR.responseText);
                                    }
                                    if ( routeName != '' ) {
                                        window.location.href = Routing.generate(
                                                routeName,
                                                {
                                                    _locale: "{{ app.request.getLocale() }}"
                                                });
                                    }
                                }
                            }
                    );

                    return false;
                }
        );

        $('.rbins-fast-search').on(
                'click',
                '.rbins-related-add a',
                function (event) {
                    event.preventDefault();

                    var target = $(this).parents('.rbins-search-content').next();
                    var search_input = $(this).parents('.rbins-search-content').find('.rbins-search-input');

                    $.ajax(
                            {
                                url: Routing.generate(
                                        'app_add_related',
                                        {
                                            'type': $(this).data('main-type'),
                                            'id': $(this).data('main-id'),
                                            'related': $(this).data('related-type'),
                                            'related_id': $(this).data('related-id')
                                        }
                                     ),
                                type: 'POST',
                                data: {
                                    'type': $(this).data('main-type'),
                                    'id': $(this).data('main-id'),
                                    'related': $(this).data('related-type'),
                                    'related_id': $(this).data('related-id')
                                },
                                success: function(data) {
                                    search_input.trigger('change');
                                    target.html(data);
                                    target.find('.flash-success-text').html("{{ 'app.message.add.success'|trans({}, 'messages', app.request.getLocale()) }}").parent('.flash-success').fadeIn();
                               },
                                error: function(jqXHR) {
                                    target.find('.alert').fadeOut();
                                    target.find('.flash-error-text').html(jqXHR.responseText).parent('.flash-error').fadeIn();
                                }
                            }
                    );

                    return false;
                }
        );

    }
);
