<div class="dropdown {% if action_vars.position_class is defined %}{{ action_vars.position_class }}{% endif %} row flex-items-xs-middle {% if action_vars.responsive_hidden_class is defined %}{{ action_vars.responsive_hidden_class }}{% endif %} rbins-menu-option">
    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" title="Teams">
        {% block teams_icon %}<i class="fa fa-users {% if action_vars.solarize is defined %}{% if action_vars.solarize == true %}fa-inverse{% endif %}{% endif %}" aria-hidden="true"></i>{% endblock teams_icon %}
        &nbsp;{% block team_text %}<span>Teams <b class="caret"></b></span>{% endblock team_text %}
    </a>
    <ul class="{% if action_vars.dropdown_sub_menu_class is defined %}{{ action_vars.dropdown_sub_menu_class }}{% else %}dropdown-menu{% endif %}" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="{{ path('teams') }}">Add a team</a></li>
        <li><a class="dropdown-item" href="{{ path('teams_list') }}">List all teams</a></li>
    </ul>
</div>
