{% if related_teams|length == 0 %}
    {% trans from "messages" %}app.message.noRelatedTeams{% endtrans %}
{% else %}
    <dl class="row">
        <dt class="col-xs-8" title="{% trans from "messages" %}app.meta.title.form.relatedTeams.view.name{% endtrans %}">{% trans from "messages" %}app.form.relatedTeamsAndProjects.view.label.name{% endtrans %}</dt>
        <dt class="col-xs-2" title="{% trans from "messages" %}app.meta.title.form.relatedTeamsAndProjects.view.startDate{% endtrans %}">{% trans from "messages" %}app.form.relatedTeamsAndProjects.view.label.startDate{% endtrans %}</dt>
        <dt class="col-xs-2" title="{% trans from "messages" %}app.meta.title.form.relatedTeamsAndProjects.view.endDate{% endtrans %}">{% trans from "messages" %}app.form.relatedTeamsAndProjects.view.label.endDate{% endtrans %}</dt>
        <hr>
        {% for team in related_teams %}
            <dd class="col-xs-8"><a title="{% if team.active == 'active' %}{% trans from 'messages' %}app.title.content.related.active{% endtrans %}{% else %}{% trans from 'messages' %}app.title.content.related.inactive{% endtrans %}{% endif %}" class="{{ team.active }}" href="{{ path('teams', { 'id':team.id, 'action': 'view' }) }}" target="_blank">{{ team.name }}</a></dd>
            <dd class="col-xs-2">{{ team.start_date is empty ? '-' : team.start_date|date('d/m/Y') }}</dd>
            <dd class="col-xs-2">{{ team.end_date is empty ? '-' : team.end_date|date('d/m/Y') }}</dd>
        {% endfor %}
    </dl>
{% endif %}
