{% if related_people|length == 0 %}
    {% trans from "messages" %}app.message.noRelatedPeople{% endtrans %}
{% else %}
    <dl class="row">
        <dt class="col-xs-6" title="{% trans from "messages" %}app.meta.title.form.relatedPeople.view.name{% endtrans %}">{% trans from "messages" %}app.form.relatedPeople.view.label.name{% endtrans %}</dt>
        <dt class="col-xs-2" title="{% trans from "messages" %}app.meta.title.form.relatedPeople.view.startDate{% endtrans %}">{% trans from "messages" %}app.form.relatedPeople.view.label.startDate{% endtrans %}</dt>
        <dt class="col-xs-2" title="{% trans from "messages" %}app.meta.title.form.relatedPeople.view.endDate{% endtrans %}">{% trans from "messages" %}app.form.relatedPeople.view.label.endDate{% endtrans %}</dt>
        <dt class="col-xs-2"></dt>
        <hr>
        {% for person in related_people %}
            <dd class="col-xs-6"><a title="{% if person.active == 'active' %}{% trans from 'messages' %}app.title.content.related.active{% endtrans %}{% else %}{% trans from 'messages' %}app.title.content.related.inactive{% endtrans %}{% endif %}" class="{{ person.active }}" href="{{ path('person', { 'id':person.id, 'action': 'view' }) }}">{{ person.name }}</a></dd>
            <dd class="col-xs-2">{{ person.start_date is empty ? "-" : person.start_date|date('d/m/Y') }}</dd>
            <dd class="col-xs-2">{{ person.end_date is empty ? "-" : person.end_date|date('d/m/Y') }}</dd>
            <dd class="col-xs-2"><i class="fa fa-pencil"></i> <i class="fa fa-times"></i></dd>
        {% endfor %}
    </dl>
{% endif %}
