{% include "_partials/flash/flashMessages.html.twig" %}
{% if related_people|length == 0 %}
    <p class="no-related-content-message">{% trans from "messages" %}app.message.noRelatedPeople{% endtrans %}</p>
{% else %}
    <dl class="row">
        <dt class="col-xs-6" title="{% trans from "messages" %}app.meta.title.form.relatedPeople.view.name{% endtrans %}">{% trans from "messages" %}app.form.relatedPeople.view.label.name{% endtrans %}</dt>
        <dt class="col-xs-2" title="{% trans from "messages" %}app.meta.title.form.relatedPeople.view.startDate{% endtrans %}">{% trans from "messages" %}app.form.relatedPeople.view.label.startDate{% endtrans %}</dt>
        <dt class="col-xs-2" title="{% trans from "messages" %}app.meta.title.form.relatedPeople.view.endDate{% endtrans %}">{% trans from "messages" %}app.form.relatedPeople.view.label.endDate{% endtrans %}</dt>
        <dt class="col-xs-2"></dt>
        <hr class="rbins-related-title-separator"/>
        {% for person in related_people %}
            <dd class="col-xs-6 rbins-definition-{{ person.related_id }}"><a title="{% if person.active == 'active' %}{% trans from 'messages' %}app.title.content.related.active{% endtrans %}{% else %}{% trans from 'messages' %}app.title.content.related.inactive{% endtrans %}{% endif %}" class="{{ person.active }}" href="{{ path('person', { 'id':person.id, 'action': 'view' }) }}">{{ person.name }}</a></dd>
            <dd class="col-xs-2 rbins-definition-{{ person.related_id }}">{{ person.start_date is empty ? "-" : person.start_date|date('d/m/Y') }}</dd>
            <dd class="col-xs-2 rbins-definition-{{ person.related_id }}">{{ person.end_date is empty ? "-" : person.end_date|date('d/m/Y') }}</dd>
            <dd class="col-xs-2 rbins-related-actions rbins-definition-{{ person.related_id }}"><a class="rbins-edit-related" href="#"><i class="fa fa-pencil"></i></a><a class="rbins-remove-related" href="{{ path('app_remove_related', { 'type': type, 'id': person.related_id }) }}" data-target-class="rbins-definition-{{ person.related_id }}" ><i class="fa fa-times"></i></a></dd>
        {% endfor %}
    </dl>
{% endif %}
