{#
    Default variables set
-#}
{% set action_vars = { 'position_class': 'pull-lg-left', 'responsive_hidden_class': 'hidden-md-down','solarize': true, 'icon_increase': 'fa-2x' } %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Meta part -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Title and favicon part -->
        <title>{% block title %}{% block product_title %}Galileo Extension{% endblock product_title %}{% block page_title %} - Welcome !{% endblock page_title %}{% endblock title %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Stylesheets part -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap-min.css'|asset_version) }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/site-min.css'|asset_version) }}" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}

        <!-- Javascripts in the header -->
        <script type="text/javascript" src="{{ asset('js/jquery-min.js'|asset_version) }}"></script>
        {% block javascriptsheader %}{% endblock %}
    </head>
    <body>
        {%  block navigation %}
            {% block navigation_top_bar %}
                <nav class="navbar navbar-fixed-top navbar-dark bg-inverse rbins-navbar">
                    {% block navigation_top_bar_brand %}
                        <!-- Brand -->
                        <header class="col-xs-2 col-md-3 col-lg-2 media rbins-icon-media">
                            <div class="media-left">
                                <a class="navbar-brand" href="{{ url('app_homepage') }}">
                                    {% block branding %}
                                        <img class="media-object logo-icon" src="{{ asset('img/logo.png') }}" alt="Logo Museum" title="Go to Homepage">
                                    {% endblock branding %}
                                </a>
                            </div>
                        </header>
                    {% endblock navigation_top_bar_brand %}
                    {% block navigation_top_bar_lg %}
                        <nav class="nav nav-inline col-md-9 col-lg-10 hidden-md-down container rbins-lg-actions">
                            {% block navigation_top_bar_lg_teams %}
                                {% include "_partials/navigation/teams.html.twig" %}
                            {% endblock navigation_top_bar_lg_teams %}
                            {% block navigation_top_bar_lg_projects %}
                                {% include "_partials/navigation/projects.html.twig" %}
                            {% endblock navigation_top_bar_lg_projects %}
                            {% block navigation_top_bar_lg_ad_sync %}
                                {% include "_partials/navigation/adSync.html.twig" %}
                            {% endblock navigation_top_bar_lg_ad_sync %}
                            {% set action_vars = action_vars|merge({ 'position_class': 'pull-lg-right', 'responsive_hidden_class': 'hidden-lg-down' }) %}
                            {% block navigation_top_bar_lg_logoff %}
                                {% include "_partials/navigation/logOff.html.twig" with action_vars %}
                            {% endblock navigation_top_bar_lg_logoff %}
                            {% block navigation_top_bar_lg_languages %}
                                {{  locale_switcher() }}
                            {% endblock navigation_top_bar_lg_languages %}
                            {% block navigation_top_bar_lg_profile %}
                                {% include "_partials/navigation/profile.html.twig" with action_vars %}
                            {% endblock navigation_top_bar_lg_profile %}
                        </nav>
                    {% endblock navigation_top_bar_lg %}
                    {% block navigation_top_bar_responsive %}
                        <div class="nav-toggles hidden-xl-up">
                            {% block navigation_top_bar_responsive_close %}
                                <div class="navmenu-close">
                                    <button type="button" class="navbar-toggle navbar-toggle-right" data-target=".rbins-menu">
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            {% endblock navigation_top_bar_responsive_close %}
                            {% block navigation_top_bar_responsive_toggle %}
                                <div class="rbins-menu-toggle">
                                    <button type="button" class="navbar-toggle navbar-toggle-right" data-target=".rbins-menu">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            {% endblock navigation_top_bar_responsive_toggle %}
                        </div>
                    {% endblock navigation_top_bar_responsive %}
                </nav>
            {% endblock navigation_top_bar %}
            {% block navigation_responsive_menu %}
                <nav class="col-xs-6 col-sm-4 col-md-3 navmenu navmenu-default navmenu-fixed-right offcanvas hidden-xl-up rbins-menu">
                    <a class="navmenu-brand" href="#">{{ block('product_title') }}</a>
                    <ul class="nav navmenu-nav">
                        <li>
                            {% block navigation_responsive_menu_languages %}
                                {{  locale_switcher(null, null, "_partials/navigation/languagesNonFloating.html.twig") }}
                            {% endblock navigation_responsive_menu_languages %}
                        </li>
                        {% set action_vars = action_vars|merge({ 'position_class': '', 'responsive_hidden_class': '' }) %}
                        <li>
                            {% block navigation_responsive_menu_profile %}
                                {% include "_partials/navigation/profile.html.twig" with action_vars %}
                            {% endblock navigation_responsive_menu_profile %}
                        </li>
                        {% set action_vars = action_vars|merge({ 'responsive_hidden_class': 'hidden-lg-up' }) %}
                        <li class="rbins-menu-dropdown">
                            {% block navigation_responsive_menu_teams %}
                                {% include "_partials/navigation/teams.html.twig" with action_vars %}
                            {% endblock navigation_responsive_menu_teams %}
                        </li>
                        <li class="rbins-menu-dropdown">
                            {% block navigation_responsive_menu_projects %}
                                {% include "_partials/navigation/projects.html.twig" with action_vars %}
                            {% endblock navigation_responsive_menu_projects %}
                        </li>
                        <li class="rbins-menu-dropdown">
                            {% block navigation_responsive_menu_ad_sync %}
                                {% include "_partials/navigation/adSync.html.twig" with action_vars %}
                            {% endblock navigation_responsive_menu_ad_sync %}
                        </li>
                    </ul>
                </nav>
            {% endblock navigation_responsive_menu %}
        {%  endblock navigation %}
        {% block search_menu %}
            <aside class="col-md-3 col-lg-2 hidden-sm-down navmenu navmenu-default navmenu-fixed-left rbins-searches">
                <a class="navmenu-brand" href="#">RBINS searches</a>
                <ul class="nav navmenu-nav">
                    <li><a href="#">Slide in</a></li>
                    <li class="active"><a href="#">Push</a></li>
                </ul>
            </aside>
        {% endblock search_menu %}
        {% block content %}
            <div class="container-fixed rbins-content">
                <div class="row">
                    <div class="col-md-3 col-lg-2 hidden-sm-down"></div>
                    <div class="col-xs-10 col-sm-11 col-md-8 col-lg-9 col-xl-10">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae nunc gravida, eleifend eros eget, placerat mauris. Vivamus vehicula ante id lectus bibendum, sit amet tempus neque convallis. Nullam nec nibh mauris. Integer at purus semper, ultricies tellus eu, placerat lorem. Etiam et sapien vulputate leo suscipit placerat. Nam non blandit nulla. Praesent eget mi sit amet ipsum sodales dapibus. Mauris sagittis justo orci, a tincidunt eros egestas at. Donec sollicitudin at ante nec volutpat. Maecenas porttitor tristique lacus eget vulputate. Curabitur interdum sodales hendrerit. Morbi odio sem, accumsan a risus vitae, interdum malesuada nulla. Proin quis sem neque. Cras tincidunt magna ut ante sodales, sit amet fermentum dui sagittis. Etiam vestibulum velit id ex hendrerit consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <p>Aliquam tempus vulputate diam, ut sagittis augue ultrices quis. Nam dictum nisl neque, at tempor nisl cursus eget. Maecenas justo augue, posuere ac lacinia sed, congue in arcu. Vestibulum posuere risus sem, sit amet efficitur felis ultrices a. Donec id tincidunt diam. Nunc ut mollis neque. Proin dignissim elit lorem, at aliquam lacus hendrerit at. Donec purus tellus, viverra hendrerit porttitor non, consectetur non dui. Fusce pretium enim ipsum, non pharetra orci pulvinar eget. Cras sit amet orci urna.</p>
                        <p>In hac habitasse platea dictumst. Vivamus sollicitudin consequat ultricies. Nullam luctus iaculis mauris, ac varius magna bibendum in. Suspendisse malesuada sem sit amet maximus aliquet. Maecenas aliquet, erat nec finibus viverra, arcu dui varius leo, sed pulvinar ipsum justo in turpis. Quisque vitae blandit diam. Sed vel diam laoreet, volutpat nibh id, egestas nisl. Vestibulum volutpat vel sem ut dignissim. Integer eros sem, efficitur id erat venenatis, commodo rhoncus mi. Nulla tempus semper quam. Vivamus ullamcorper, nibh eget ultrices mollis, lectus purus molestie neque, eget porta elit felis eu odio. Nulla vel ipsum urna. Proin id urna mauris. Aenean a malesuada justo. Donec euismod congue justo, ac lobortis nisl.</p>
                        <p>Aliquam et magna blandit, consequat massa gravida, porttitor eros. Maecenas sit amet tempus lacus, vel egestas eros. Etiam semper, quam ut consequat molestie, mauris lectus imperdiet magna, nec tempor ante magna ac lectus. Nullam sollicitudin orci vitae lectus molestie placerat. Fusce porttitor tortor a pellentesque pharetra. In et rhoncus eros. Sed in ligula nec neque ultrices lacinia. Proin feugiat ac lectus eget aliquam. In hac habitasse platea dictumst. Aliquam aliquet suscipit lacus vel varius. Fusce sagittis accumsan imperdiet.</p>
                        <p>Mauris mattis feugiat iaculis. Sed non porta ante, a luctus libero. Praesent feugiat libero eget dui semper, eget accumsan libero dictum. Duis id maximus ante. Cras eleifend sollicitudin finibus. Phasellus dictum neque enim, placerat sodales libero hendrerit eu. Nunc vel urna ac augue gravida viverra. Praesent vel iaculis quam. Nullam vel risus massa. Sed sed mauris odio. Donec non leo et magna consectetur consequat. Vestibulum suscipit urna non massa cursus laoreet. Pellentesque eget ornare massa.</p>
                        <p>Sed semper dolor id risus lobortis, sit amet semper tellus ultrices. Curabitur finibus sapien at massa pretium, a sagittis risus bibendum. Suspendisse sit amet porttitor nibh, sit amet egestas diam. Pellentesque aliquet fringilla ex sit amet condimentum. Nunc dapibus ex vitae eros varius fringilla. Maecenas ac elit non ligula consequat sodales a vel nisl. Quisque velit lectus, elementum et ipsum tincidunt, auctor dapibus sapien.</p>
                        <p>Proin sed nisi in sapien tincidunt sodales. Vestibulum sed nulla vehicula, molestie urna et, commodo arcu. Praesent auctor interdum magna, ut efficitur mi ullamcorper eget. Proin tincidunt volutpat ante, eu ornare metus cursus sit amet. Fusce sit amet eros gravida, elementum velit sed, rutrum odio. Etiam eget interdum nibh, quis placerat lorem. Suspendisse sodales, nisl vitae sollicitudin tincidunt, lectus ex maximus augue, ac ornare augue quam non leo. Aenean a velit id enim euismod mattis. Cras ac lobortis purus. Nam maximus a odio in consequat.</p>
                        <p>Donec malesuada, lectus vel efficitur ullamcorper, erat enim blandit elit, et congue erat justo convallis risus. Mauris in erat velit. Phasellus facilisis sagittis orci at sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed suscipit maximus arcu. Pellentesque semper porta magna, sed sagittis tellus porta ut. Aenean in est in nibh posuere hendrerit. Morbi quam libero, placerat feugiat quam vel, ultricies dictum velit. Cras auctor nisl sed pretium bibendum. Curabitur in elit ornare, rutrum tortor a, mollis elit. Curabitur vel placerat urna. Etiam tempus, dolor vel ultrices ullamcorper, arcu massa laoreet tortor, eu ullamcorper enim eros eget quam. Proin lorem lorem, tincidunt et risus et, mollis viverra lorem.</p>
                        <p>Integer sed rutrum erat. In hac habitasse platea dictumst. Sed ac sapien non sem gravida commodo. Mauris iaculis eleifend tincidunt. Phasellus maximus aliquam nisi vel consequat. Phasellus ornare bibendum ante, eu pulvinar sem faucibus vitae. Quisque ut libero libero. Aenean pulvinar dapibus ipsum, vitae viverra metus rutrum vel. Integer dictum nunc vitae aliquet tincidunt. Etiam vel elementum elit.</p>
                        <p>Quisque bibendum, enim non porttitor varius, lorem magna sagittis mi, non vulputate est purus ac massa. Vivamus nec purus orci. Integer vitae interdum justo. In hac habitasse platea dictumst. Etiam dui lacus, suscipit quis lacus sit amet, hendrerit molestie dolor. Pellentesque non dui libero. Proin eget placerat ante, et iaculis velit. Pellentesque a ultrices orci. Suspendisse orci felis, sodales at turpis dictum, porttitor auctor velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse vulputate volutpat ultricies. Donec quis quam eu justo fermentum auctor faucibus ut erat. Duis mattis commodo ipsum, in egestas mauris consectetur non.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae nunc gravida, eleifend eros eget, placerat mauris. Vivamus vehicula ante id lectus bibendum, sit amet tempus neque convallis. Nullam nec nibh mauris. Integer at purus semper, ultricies tellus eu, placerat lorem. Etiam et sapien vulputate leo suscipit placerat. Nam non blandit nulla. Praesent eget mi sit amet ipsum sodales dapibus. Mauris sagittis justo orci, a tincidunt eros egestas at. Donec sollicitudin at ante nec volutpat. Maecenas porttitor tristique lacus eget vulputate. Curabitur interdum sodales hendrerit. Morbi odio sem, accumsan a risus vitae, interdum malesuada nulla. Proin quis sem neque. Cras tincidunt magna ut ante sodales, sit amet fermentum dui sagittis. Etiam vestibulum velit id ex hendrerit consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <p>Aliquam tempus vulputate diam, ut sagittis augue ultrices quis. Nam dictum nisl neque, at tempor nisl cursus eget. Maecenas justo augue, posuere ac lacinia sed, congue in arcu. Vestibulum posuere risus sem, sit amet efficitur felis ultrices a. Donec id tincidunt diam. Nunc ut mollis neque. Proin dignissim elit lorem, at aliquam lacus hendrerit at. Donec purus tellus, viverra hendrerit porttitor non, consectetur non dui. Fusce pretium enim ipsum, non pharetra orci pulvinar eget. Cras sit amet orci urna.</p>
                        <p>In hac habitasse platea dictumst. Vivamus sollicitudin consequat ultricies. Nullam luctus iaculis mauris, ac varius magna bibendum in. Suspendisse malesuada sem sit amet maximus aliquet. Maecenas aliquet, erat nec finibus viverra, arcu dui varius leo, sed pulvinar ipsum justo in turpis. Quisque vitae blandit diam. Sed vel diam laoreet, volutpat nibh id, egestas nisl. Vestibulum volutpat vel sem ut dignissim. Integer eros sem, efficitur id erat venenatis, commodo rhoncus mi. Nulla tempus semper quam. Vivamus ullamcorper, nibh eget ultrices mollis, lectus purus molestie neque, eget porta elit felis eu odio. Nulla vel ipsum urna. Proin id urna mauris. Aenean a malesuada justo. Donec euismod congue justo, ac lobortis nisl.</p>
                        <p>Aliquam et magna blandit, consequat massa gravida, porttitor eros. Maecenas sit amet tempus lacus, vel egestas eros. Etiam semper, quam ut consequat molestie, mauris lectus imperdiet magna, nec tempor ante magna ac lectus. Nullam sollicitudin orci vitae lectus molestie placerat. Fusce porttitor tortor a pellentesque pharetra. In et rhoncus eros. Sed in ligula nec neque ultrices lacinia. Proin feugiat ac lectus eget aliquam. In hac habitasse platea dictumst. Aliquam aliquet suscipit lacus vel varius. Fusce sagittis accumsan imperdiet.</p>
                        <p>Mauris mattis feugiat iaculis. Sed non porta ante, a luctus libero. Praesent feugiat libero eget dui semper, eget accumsan libero dictum. Duis id maximus ante. Cras eleifend sollicitudin finibus. Phasellus dictum neque enim, placerat sodales libero hendrerit eu. Nunc vel urna ac augue gravida viverra. Praesent vel iaculis quam. Nullam vel risus massa. Sed sed mauris odio. Donec non leo et magna consectetur consequat. Vestibulum suscipit urna non massa cursus laoreet. Pellentesque eget ornare massa.</p>
                        <p>Sed semper dolor id risus lobortis, sit amet semper tellus ultrices. Curabitur finibus sapien at massa pretium, a sagittis risus bibendum. Suspendisse sit amet porttitor nibh, sit amet egestas diam. Pellentesque aliquet fringilla ex sit amet condimentum. Nunc dapibus ex vitae eros varius fringilla. Maecenas ac elit non ligula consequat sodales a vel nisl. Quisque velit lectus, elementum et ipsum tincidunt, auctor dapibus sapien.</p>
                        <p>Proin sed nisi in sapien tincidunt sodales. Vestibulum sed nulla vehicula, molestie urna et, commodo arcu. Praesent auctor interdum magna, ut efficitur mi ullamcorper eget. Proin tincidunt volutpat ante, eu ornare metus cursus sit amet. Fusce sit amet eros gravida, elementum velit sed, rutrum odio. Etiam eget interdum nibh, quis placerat lorem. Suspendisse sodales, nisl vitae sollicitudin tincidunt, lectus ex maximus augue, ac ornare augue quam non leo. Aenean a velit id enim euismod mattis. Cras ac lobortis purus. Nam maximus a odio in consequat.</p>
                        <p>Donec malesuada, lectus vel efficitur ullamcorper, erat enim blandit elit, et congue erat justo convallis risus. Mauris in erat velit. Phasellus facilisis sagittis orci at sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed suscipit maximus arcu. Pellentesque semper porta magna, sed sagittis tellus porta ut. Aenean in est in nibh posuere hendrerit. Morbi quam libero, placerat feugiat quam vel, ultricies dictum velit. Cras auctor nisl sed pretium bibendum. Curabitur in elit ornare, rutrum tortor a, mollis elit. Curabitur vel placerat urna. Etiam tempus, dolor vel ultrices ullamcorper, arcu massa laoreet tortor, eu ullamcorper enim eros eget quam. Proin lorem lorem, tincidunt et risus et, mollis viverra lorem.</p>
                        <p>Integer sed rutrum erat. In hac habitasse platea dictumst. Sed ac sapien non sem gravida commodo. Mauris iaculis eleifend tincidunt. Phasellus maximus aliquam nisi vel consequat. Phasellus ornare bibendum ante, eu pulvinar sem faucibus vitae. Quisque ut libero libero. Aenean pulvinar dapibus ipsum, vitae viverra metus rutrum vel. Integer dictum nunc vitae aliquet tincidunt. Etiam vel elementum elit.</p>
                        <p>Quisque bibendum, enim non porttitor varius, lorem magna sagittis mi, non vulputate est purus ac massa. Vivamus nec purus orci. Integer vitae interdum justo. In hac habitasse platea dictumst. Etiam dui lacus, suscipit quis lacus sit amet, hendrerit molestie dolor. Pellentesque non dui libero. Proin eget placerat ante, et iaculis velit. Pellentesque a ultrices orci. Suspendisse orci felis, sodales at turpis dictum, porttitor auctor velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse vulputate volutpat ultricies. Donec quis quam eu justo fermentum auctor faucibus ut erat. Duis mattis commodo ipsum, in egestas mauris consectetur non.</p>
                    </div>
                    <div class="col-xs-2 col-sm-1 hidden-xl-up"></div>
                </div>
            </div>
        {% endblock %}
        <script src="{{ asset('js/site-min.js'|asset_version) }}" type="text/javascript"></script>
        {% block javascripts %}
            {% block javascript_navigation %}
                <script type="text/javascript">
                    $(document).ready(
                            function() {

                                var toggleClose = function(elem) {
                                    $(elem).fadeToggle('medium', function() {
                                        if ($(this).is(':visible'))
                                            $(this).css('display','inline-block');
                                    });
                                };

                                $(".rbins-menu-toggle button").on(
                                        'click',
                                        function () {
                                            $($(this).data('target')).toggle( "slide", { direction: "right", done: toggleClose($(".navmenu-close")) }, 500);
                                        }
                                );

                                $(".navmenu-close button").on(
                                        'click',
                                        function () {
                                            $(this).parent().fadeToggle('fast');
                                            $($(this).data('target')).toggle( "slide", { direction: "right" }, 500);
                                        }
                                );
                            }
                    );
                </script>
            {% endblock javascript_navigation %}
        {% endblock javascripts %}
    </body>
</html>
