{#
    Default variables set
-#}
{%
    set search_vars = {
                        'heading_label_id': 'people-heading',
                        'heading_text': 'Search People',
                        'collapsable_element_id': 'collapseOne',
                        'collapsable_element_default_state': 'in',
                        'search_control_id': 'person-search',
                        'search_popover_help_text_en': 'Type here the start of fist name or last name',
                        'parent_id': 'rbins-search-menu',
                        'search_type': 'person'
                      }
%}
<!DOCTYPE html>
<html>
    <head>
        <!-- Meta part -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Title and favicon part -->
        <title>{% block title %}{% block product_title %}Galileo Extension{% endblock product_title %}{% block page_title %} - Welcome !{% endblock page_title %}{% endblock title %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Stylesheets part -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap-min.css'|asset_version) }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/site-min.css'|asset_version) }}" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}

        <!-- Javascripts in the header -->
        <script type="text/javascript" src="{{ asset('js/jquery-min.js'|asset_version) }}"></script>
        {% block javascriptsheader %}{% endblock %}
    </head>
    <body>
        {% block navigation %}
            {% include "_partials/navigation/main.html.twig" %}
        {%  endblock navigation %}
        {% block search_menu %}
            <aside id="rbins-search-menu" class="col-md-3 col-lg-3 hidden-sm-down navmenu navmenu-default navmenu-fixed-left rbins-searches">
                {% block search_menu_option_people %}
                    {% include "_partials/search/fastSearch.html.twig" with { 'search_vars' : search_vars } %}
                {% endblock search_menu_option_people %}
                {%
                    set search_vars = search_vars|merge(
                        {
                            'heading_label_id': 'teams-heading',
                            'heading_text': 'Search Teams',
                            'collapsable_element_id': 'collapseTwo',
                            'collapsable_element_default_state': '',
                            'search_control_id': 'team-search',
                            'search_popover_help_text_en': 'Type here the start of team name',
                            'search_type': 'teams'
                        }
                    )
                %}
                {% block search_menu_option_teams %}
                    {% include "_partials/search/fastSearch.html.twig" with { 'search_vars' : search_vars } %}
                {% endblock search_menu_option_teams %}
                {%
                    set search_vars = search_vars|merge(
                        {
                            'heading_label_id': 'projects-heading',
                            'heading_text': 'Search Projects',
                            'collapsable_element_id': 'collapseThree',
                            'collapsable_element_default_state': '',
                            'search_control_id': 'project-search',
                            'search_popover_help_text_en': 'Type here the start of project name',
                            'search_type': 'projects'
                        }
                    )
                %}
                {% block search_menu_option_projects %}
                    {% include "_partials/search/fastSearch.html.twig" with { 'search_vars' : search_vars } %}
                {% endblock search_menu_option_projects %}
            </aside>
        {% endblock search_menu %}
        {% block content %}{% endblock %}

        <!-- Return to Top -->
        <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

        <script src="{{ asset('js/site-min.js'|asset_version) }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}
            <script type="text/javascript">
                {% block javascript_navigation %}
                    {% include "_partials/javascripts/navigation.js.twig" %}
                {% endblock javascript_navigation %}
            </script>
        {% endblock javascripts %}
    </body>
</html>
