{% extends "default/index.html.twig" %}
{% block content_main %}
    {%
        set tabbed_content_vars = {
            'parent_id': 'rbins-content-main'
        }
    %}
    {%
        set translation_vars = {
            'active': 'app.meta.description.content.activeToggle.active',
            'non_active': 'app.meta.description.content.activeToggle.nonActive'
        }
    %}
    {% if type == 'person' %}
        {%
            set translation_vars = translation_vars|merge(
                {
                    'active': 'app.meta.description.content.activeToggle.active.female',
                    'non_active': 'app.meta.description.content.activeToggle.nonActive.female'
                }
            )
        %}
    {% endif %}
    <div class="row">
        <div class="page-header col-xs-12 tabbed-content-title">
            <h2 class="content-title {{ active?'active' }}">{{ name_label }}: {{  name }} <i class="fa {{ active?'fa-toggle-on':'fa-toggle-off' }}" data-toggle="tooltip" data-placement="right" title="{{ active?(name_label~' '~(translation_vars.active|trans({}, "messages"))):(name_label~' '~(translation_vars.non_active|trans({}, "messages"))) }}"></i></h2>
        </div>
        {%  for key,tab in tabs %}
            <div id="rbins-tab-{{ loop.index }}" class="col-xs-12 col-md-11 col-xl-10 rbins-tab">
                <div class="panel panel-default">
                    <div id="{{ tab.id }}-heading"
                         class="panel-heading hidden-md-up">
                        <h4 class="panel-title">
                            <button class="btn btn-secondary bg-inverse btn-block rbins-btn-secondary text-sm-left rbins-content-collapse"
                                    data-toggle="collapse" data-collapse-parent="#{{ tabbed_content_vars.parent_id }}"
                                    data-tab-id="#{{ tab.id }}"
                                    href="#{{ tab.collapseElementId }}"
                                    data-target="#{{ tab.collapseElementId }}"
                                    aria-controls="{{ tab.collapseElementId }}"
                                    aria-expanded="true">
                                <i class="fa {{ tab.headingIcon }}"></i> {{ tab.headingText }}
                            </button>
                        </h4>
                    </div>
                    <div id="{{ tab.collapseElementId }}"
                         class="panel-collapse collapse {{ tab.collapseElementDefaultState }} fade rbins-tab-content"
                         data-collapse-parent="#{{ tabbed_content_vars.parent_id }}"
                         role="tabpanel"
                         aria-labelledby="{{ tab.id }}-heading">
                        {% set parameter_bag =
                            {
                                'id': id,
                                'view_controller': tab.view_controller,
                                'view_route': tab.view_route,
                                'edit_controller': tab.edit_controller,
                                'edit_route': tab.edit_route,
                                'type': type,
                                'form': tab.form,
                            }
                        %}
                        {% if action == 'edit' and key == 'main' %}
                            {{ render(
                                controller(
                                    tab.edit_controller,
                                    parameter_bag
                                )
                               )
                            }}
                        {% else %}
                            {{ render(
                                   controller(
                                       tab.view_container_controller,
                                       parameter_bag
                                   )
                               )
                            }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <ul class="nav nav-tabs hidden-sm-down col-lg-2 rbins-lateral-tabs">
            {% for key,tab in tabs %}
                <li id="{{ tab.id }}" class="{% if key == 'main' %}active{% endif %}" data-target="#{{ tab.collapseElementId }}"><a class="{% if key == 'main' %}active{% endif %}" href="#"><i class="fa fa-2x {{ tab.headingIcon }}"></i><span class="hidden-lg-down"> {{ tab.headingText }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content_main %}
{% block javascript_content %}
    {% include "_partials/javascripts/tabbed_content.js.twig" %}
    {% if action == 'edit' %}
        {% include '_partials/javascripts/forms.js.twig' %}
    {% endif %}
{% endblock %}
