{%
    set translation_vars = {
        'active': 'app.meta.description.content.activeToggle.active',
        'non_active': 'app.meta.description.content.activeToggle.nonActive'
    }
%}
{% if type in ['person','teams'] %}
    {%
        set translation_vars = translation_vars|merge(
            {
                'active': 'app.meta.description.content.activeToggle.active.female',
                'non_active': 'app.meta.description.content.activeToggle.nonActive.female'
            }
        )
    %}
{% endif %}

{% for key,value in groupsLetter %}
    {% if value.selected %}
        {% for subvalue in value.list %}
            {% set view_array = {'_locale': app.request.getLocale(), 'action': 'view', 'id': subvalue.id} %}
            {% set edit_array = {'_locale': app.request.getLocale(), 'action': 'edit', 'id': subvalue.id} %}
            {% if type == 'teams' %}
                {% set view_path = path('teams', view_array) %}
                {% set edit_path = path('teams', edit_array) %}
                {% set name_label = 'app.meta.title.tab.team'|trans({}, 'messages', app.request.getLocale()) %}
            {% elseif type == 'projects' %}
                {% set view_path = path('projects', view_array) %}
                {% set edit_path = path('projects', edit_array) %}
                {% set name_label = 'app.meta.title.tab.project'|trans({}, 'messages', app.request.getLocale()) %}
            {% else %}
                {% set view_path = path('person', view_array) %}
                {% set edit_path = '#' %}
                {% set name_label = 'app.meta.title.tab.person'|trans({}, 'messages', app.request.getLocale()) %}
            {% endif %}
            <div class="col-xs-12">
                <div class="card panel" id="rbins-letter-card-{{ subvalue.id }}">
                    <div class="card-header pannel-heading" role="tab">
                        <ul class="row">
                            <li class="{% if type == 'person' %}col-xs-8{% else %}col-xs-7{% endif %}">
                                <h3 class="panel-title">
                                    <a href="{{ view_path }}">{{ subvalue.name }}</a><i class="fa {{ subvalue.active=='active'?'fa-toggle-on':'fa-toggle-off' }}" data-toggle="tooltip" data-placement="right" title="{{ subvalue.active=='active'?(name_label~' '~(translation_vars.active|trans({}, "messages"))):(name_label~' '~(translation_vars.non_active|trans({}, "messages"))) }}"></i>
                                </h3>
                            </li>
                            <li class="{% if type == 'person' %}col-xs-4{% else %}col-xs-5{% endif %} text-xs-right">
                                <a class="rbins-cards-action-icons" href="{{ view_path }}"><i class="fa fa-eye"></i></a>
                                {% if type != 'person' %}
                                    <a href="{{ edit_path }}"><i class="fa fa-pencil"></i></a>
                                {% endif %}
                                <a class="rbins-cards-action-icons rbins-cards-actions-open" href="#rbins-letter-card-details-{{ subvalue.id }}" data-toggle="collapse" data-collapse-parent="#rbins-letter-card-{{ subvalue.id }}" data-target="#rbins-letter-card-details-{{ subvalue.id }}"><i class="fa fa-caret-down"></i></a>
                                <a class="rbins-cards-action-icons rbins-cards-actions-close" href="#rbins-letter-card-details-{{ subvalue.id }}" data-toggle="collapse" data-collapse-parent="#rbins-letter-card-{{ subvalue.id }}" data-target="#rbins-letter-card-details-{{ subvalue.id }}"><i class="fa fa-caret-up"></i></a>
                        </ul>
                    </div>
                    <div class="card-block panel-collapse collapse" id="rbins-letter-card-details-{{ subvalue.id }}">
                        {% if type == 'person' %}
                            {% include '_partials/tabbedContent/mainTab/view/personContent.html.twig' with {'tabs': {'main': {'item': subvalue}}} %}
                        {% else %}
                            {% include '_partials/tabbedContent/mainTab/view/teamsProjectsContent.html.twig' with {'tabs': {'main': {'item': subvalue}}, 'inclusion_type': 'letterCards'} %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
