<div class="panel panel-default">
    {% block tabbed_content_header %}
        <div id="{{ tabbed_content_vars.heading_label_id }}"
             class="panel-heading"
             role="tab">
            <h4 class="panel-title">
                <button class="btn btn-secondary bg-inverse btn-block rbins-btn-secondary text-sm-left"
                        data-toggle="collapse" data-parent="#{{ tabbed_content_vars.parent_id }}"
                        href="#{{ tabbed_content_vars.collapsable_element_id }}"
                        aria-controls="{{ tabbed_content_vars.collapsable_element_id }}"
                        aria-expanded="true">
                    {% if tabbed_content_vars.heading_text is defined %}{{ tabbed_content_vars.heading_text }}{% else %}Search{% endif %}
                </button>
            </h4>
        </div>
    {% endblock tabbed_content_header %}
    {% block tabbed_content_body %}
        <div id="{{ tabbed_content_vars.collapsable_element_id }}"
             class="panel-collapse collapse {{ tabbed_content_vars.collapsable_element_default_state }}"
             role="tabpanel"
             aria-labelledby="{{ tabbed_content_vars.heading_label_id }}">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit ligula ut nibh blandit dictum. Ut at mollis ligula. In sit amet ipsum ac dolor placerat mattis. Curabitur euismod sagittis elit nec rutrum. Nam pharetra enim non semper dapibus. Pellentesque fermentum consectetur egestas. Vestibulum laoreet velit dapibus magna aliquet, vel ornare elit blandit. Nulla facilisi. Proin convallis velit mollis imperdiet aliquam. Proin lacinia venenatis ultricies. Aliquam eu metus vulputate, accumsan ligula at, tristique lectus. Aliquam et suscipit metus, egestas vestibulum dui. Vestibulum tempus, erat at ullamcorper hendrerit, nisl ipsum sagittis massa, ac finibus nisl elit in nisl. Nullam fringilla metus quis mattis pellentesque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit ligula ut nibh blandit dictum. Ut at mollis ligula. In sit amet ipsum ac dolor placerat mattis. Curabitur euismod sagittis elit nec rutrum. Nam pharetra enim non semper dapibus. Pellentesque fermentum consectetur egestas. Vestibulum laoreet velit dapibus magna aliquet, vel ornare elit blandit. Nulla facilisi. Proin convallis velit mollis imperdiet aliquam. Proin lacinia venenatis ultricies. Aliquam eu metus vulputate, accumsan ligula at, tristique lectus. Aliquam et suscipit metus, egestas vestibulum dui. Vestibulum tempus, erat at ullamcorper hendrerit, nisl ipsum sagittis massa, ac finibus nisl elit in nisl. Nullam fringilla metus quis mattis pellentesque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit ligula ut nibh blandit dictum. Ut at mollis ligula. In sit amet ipsum ac dolor placerat mattis. Curabitur euismod sagittis elit nec rutrum. Nam pharetra enim non semper dapibus. Pellentesque fermentum consectetur egestas. Vestibulum laoreet velit dapibus magna aliquet, vel ornare elit blandit. Nulla facilisi. Proin convallis velit mollis imperdiet aliquam. Proin lacinia venenatis ultricies. Aliquam eu metus vulputate, accumsan ligula at, tristique lectus. Aliquam et suscipit metus, egestas vestibulum dui. Vestibulum tempus, erat at ullamcorper hendrerit, nisl ipsum sagittis massa, ac finibus nisl elit in nisl. Nullam fringilla metus quis mattis pellentesque.</p>
        </div>
    {% endblock tabbed_content_body %}
</div>
