<div class="panel panel-default">
    {% block search_menu_option_header %}
        <div id="{{ search_vars.heading_label_id }}"
             class="panel-heading"
             role="tab">
            <h4 class="panel-title">
                <button class="btn btn-secondary bg-inverse btn-block rbins-btn-secondary text-sm-left"
                        data-toggle="collapse" data-parent="#{{ search_vars.parent_id }}"
                        href="#{{ search_vars.collapsable_element_id }}"
                        aria-controls="{{ search_vars.collapsable_element_id }}"
                        aria-expanded="true">
                    {% if search_vars.heading_text is defined %}{{ search_vars.heading_text }}{% else %}Search{% endif %}
                </button>
            </h4>
        </div>
    {% endblock search_menu_option_header %}
    {% block search_menu_option_body %}
        <div id="{{ search_vars.collapsable_element_id }}"
             class="panel-collapse collapse {{ search_vars.collapsable_element_default_state }}"
             role="tabpanel"
             aria-labelledby="{{ search_vars.heading_label_id }}">
            <form>
                <div class="form-group">
                    <input id="{{ search_vars.search_control_id }}"
                           class="form-control input-medium search-query rbins-search-input"
                           data-original-title="Search"
                           data-content="{{ search_vars.search_popover_help_text_en }}"
                           rel="popover"
                           type="text"
                           placeholder="Search"
                           autocomplete="off">
                </div>
                <div class="search-results">
                    <ul>
                    </ul>
                </div>
            </form>
        </div>
    {% endblock search_menu_option_body %}
</div>
