{% extends "base.html.twig" %}

{% block navigation %}{% endblock navigation %}
{% block search_menu %}{% endblock search_menu %}
{% block content %}
    <div class="rbins-login">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-block login-header">
                        {{  locale_switcher(null, null, "/_partials/navigation/languagesNonFloating.html.twig") }}
                    </div>
                    <div class="card-block login-title">
                        <h1 class="card-title">{% trans from "security" %}login.title{% endtrans %}</h1>
                        <h6 class="card-subtitle text-muted">{% trans from "security" %}login.subtitle{% endtrans %}</h6>
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-block login-content">
                        {{ form_start(form) }}
                            {{ form_row(form._username) }}
                            {{ form_row(form._password) }}
                            <button type="submit" class="btn rbins-connect">{% trans from "security" %}login.submit{% endtrans %}<i class="fa fa-lock"></i></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
